<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Endpoints</title>
</head>
<body>
    <h1>Available Endpoints</h1>
    <ol>
        <li><a href="/Courses/noLecturer">Show a list of all courses that have not been assigned a lecturer, along with the room number and building name where each course is held.</a></li>
        <li><a href="/courses/specificTeacher/David">Show a list of all courses taught by a specific teacher in a given semester.</a></li>
        <li><a href="/courses/specificRoomGivenDataTime/103/2023-04-04/13:13:13/20:20:20">Show a list of all courses taught in a specific room on a given date and a specific time range.</a></li>
        <li><a href="/courses/courseRoomDateTime/103/2023-04-04/15:15:15">Show a list of all courses taught in a specific room on a given date and at a specific time.</a></li>
        <li><a href="/courses/NameEmailTeacher">Show a list of all courses, along with the name and email of the teacher teaching each course.</a></li>
        <li><a href="/courses/teacherInstituteFaculty/LEE"> Show a list of all courses taught by a specific teacher, along with the institute and faculty where each course belongs.</a></li>
        <li><a href="/courses/coursesByTeacher/James">Show a list of all courses taught by a specific lecturer, along with the room number and building name where each course is held.</a></li>
        <li><a href="/availabelRooms/2023-04-04/14:00:00/16:00:00">Show a list of all rooms available for a given date and time range.</a></li>
        <li><a href="/reservationsByUser/Jennifer">Show a list of all reservations made by a specific user, along with the room number and building name for each reservation.</a></li>
        <li><a href="/roomsReservationName">Show a list of all rooms and the reservations made for each room, including the name of the person who made each reservation.</a></li>
        <li><a href="/roomsNumberReservationType">Show a list of all rooms, along with the number and type of reservations made for each room.</a></li>
        <li><a href="/teachers/semester/courses">Show a list of all teachers and the number of courses they are teaching in each semester, sorted by the number of courses.</a></li>
        <li><a href="/teachers/courses/roomNumberBuilding">Show a list of all teachers and the courses, they teach, including the room number and building name where each course is held.</a></li>
        <li><a href="/teachers/hours">Show a list of all teachers and the total number of hours they teach each week.</a></li>
        <li><a href="/courses/monday/nameEmailTeachers">Show a list of all courses that are taught on Mondays, along with the name and email of the teachers teaching each course.</a></li>
        <li><a href="/teachers/avgStudentsCourses">Show a list of all teachers and the average number of students in the courses they teach, sorted by the average number of students.</a></li>
    </ol>
</body>
</html>